name: pull-request

on:
  pull_request:
    branches: [ main ]

env:
  GO_VERSION: "1.15"

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v2
      with:
        go-version: ^${{ env.GO_VERSION }}
    - uses: actions/checkout@v2
      name: Check out code into the Go module directory
    - name: Unit Tests
      run: make test
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: cover-unit.out
        flags: unit-tests
        name: codecov-unit-test

  test-integration-kind-containerd:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v2
      with:
        go-version: ^${{ env.GO_VERSION }}
    - uses: actions/checkout@v2
      name: Check out code into the Go module directory
    - name: Setup kind cluster
      run: |
        set -x
        # kind configuration.
        cat > kind.yaml <<EOF
        apiVersion: kind.x-k8s.io/v1alpha4
        kind: Cluster
        nodes:
        - role: control-plane
        - role: worker
        EOF
        # Create a cluster!
        kind create cluster --config kind.yaml
    - name: Run integration tests
      run: make integration EXTRA_GO_TEST_FLAGS=-v
    - name: Gather integration coverage results
      uses: codecov/codecov-action@v1
      with:
        file: cover-int.out
        flags: integration-tests
        name: codecov-integration-test-kind

  test-integration-dockerd:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v2
      with:
        go-version: ^${{ env.GO_VERSION }}
    - uses: actions/checkout@v2
      name: Check out code into the Go module directory
    - name: Setup kubeadm cluster with default docker runtime
      run: |
        set -x
        sudo apt-get install -y kubeadm kubelet
        sudo swapoff -a
        sudo kubeadm init
        mkdir -p $HOME/.kube/
        sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
        sudo chown $USER $HOME/.kube/config
        kubectl taint nodes --all node-role.kubernetes.io/master-
        kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
        kubectl wait --for=condition=ready --timeout=30s node --all
        kubectl get nodes

    - name: Run integration tests
      run: make integration EXTRA_GO_TEST_FLAGS=-v
    - name: Gather integration coverage results
      uses: codecov/codecov-action@v1
      with:
        file: cover-int.out
        flags: integration-tests
        name: codecov-integration-test-dockerd

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v2
      with:
        go-version: ^${{ env.GO_VERSION }}
    - name: Check-out code
      uses: actions/checkout@v2
    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.29

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v2
      with:
        go-version: ^${{ env.GO_VERSION }}
    - uses: actions/checkout@v2
      name: Check out code into the Go module directory
    - name: Build
      run: make build-ci
